<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oluwadara.tic_tac_toe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SinglePlayer_5X5_Activity"
            android:label="Single Player"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".TwoPlayers_3X3_Activity"
            android:label="Two Players"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".TwoPlayers_5X5_Activity"
            android:label="Two Players"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SinglePlayer_3X3_Activity"
            android:label="Single Player"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>